<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.mindjet.litereader">

    <application
        android:name="io.mindjet.litereader.BaseApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="io.mindjet.litereader.ui.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name="io.mindjet.litereader.ui.activity.ZhihuStoryDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name=".ui.activity.ZhihuSectionDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name=".ui.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.DoubanMovieDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name=".ui.activity.DoubanMovieMoreReviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name=".ui.activity.DoubanMovieReviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name=".ui.activity.ChannelSubscribeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name=".ui.activity.DoubanStaffDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name=".ui.activity.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name=".ui.activity.CollectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name=".ui.activity.DoubanStillListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name=".ui.activity.OneReviewDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitle" />
    </application>

</manifest>